.drip-lightbox .drip-content {
    margin: 0 auto !important;
    padding: 12em 0em !important;
    width: 100% !important;
    max-width: 500px;
    height: 100% !important;
    text-align: center !important;
    top: 0 !important;
    left: 0 !important;
    font-size: 100%;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.drip-lightbox .drip-content h3 {
    text-align: center !important;
}