%footer#footer.footer.large
	.footer-container
		.footer-left
			
			.navigation
			
				%ul
					%li
						%a{ :href => "" :target => "_blank"
							%i.fa.fa-facebook
						%.a{ :href => "" :target => "_blank" }
							%i.fa.fa-twitter
						%.a{ :href => "" :target => "_blank" }
							%i.fa.fa-instagram
						%.a{ :href => "" :target => "_blank" }
							Terms of Service
						%.a{ :href => "" :target => "_blank" }
								Privacy Policy
						%.a{ :href => "" :target => "_blank" }
							Need Help? Speak To Us
							
			.footer-right
  

      %nav.navigation

		  %ul
		  	%li.logo
			  
	
	.footer-left

      %nav.navigation
	  	%ul
		  %li
		  	%p
			  %small
			  	Copyright © 2017 Cheesemix Limited | Registered in England and Wales as Company No. 08089108 at 1st Floor, 12 Old Bond Street, London, W1S 4PW
				  
	
	.footer-right
	
		%nav.navigation
			
			%ul
				%li.logo
					%p
						%a{ :href => "//cheesemix.com/#footer" }
							Made with 
								%i.fa.fa-heart :aria => { :hidden => true
									by 
										%img{ :src => "//cheesemix.imgix.net/assets/images/site/footer/cheesemix-white-logo.svg"
