  
  <script src="//code.jquery.com/jquery-2.1.4.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  
  <script src="/javascripts/readingTime.js"></script>

  <script src="/javascripts/modernize.js"></script>
  <script src="/javascripts/cheesemix-nav.js"></script>


  <!-- Drip -->
  <script type="text/javascript">
    var _dcq = _dcq || [];
    var _dcs = _dcs || {};

    _dcs.account = '6291810'; 

    
    (function() {
      var dc = document.createElement('script');
      dc.type = 'text/javascript'; dc.async = true; 
      dc.src = '//tag.getdrip.com/6291810.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(dc, s);
    })();
  </script>


  <script type="text/javascript">
        // grab an element
      var myElement = document.querySelector("header");
      // construct an instance of Headroom, passing the element
      var headroom  = new Headroom(myElement);
      // initialise
      headroom.init(); 
  </script>


  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js"></script>
  <script>
    var search = instantsearch({
      appId: '4S0OR5Z8X9',
      apiKey: '11c76cd88fa221a5e0733e6e3b476baey',
      indexName: 'cheesemix_blog',
      urlSync: true
    });

    var onRenderHandler = function() {};
    search.on('render', onRenderHandler);
    // on renderHandler will be called
    // until removeListener is called
    search.removeListener(onRenderHandler);

    search.once('render', function(){  });
    // triggered once then removed automatically

    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#search-box',
        placeholder: 'Search for products...'
      })
    );

    search.addWidget(
      instantsearch.widgets.hits({
        container: '#hits-container',
        templates: {
          item: 'Hit {{objectID}}: FIXME'
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.pagination({
        container: '#pagination-container'
      })
    );

    search.start();
  </script>


<script type="text/javascript">
$('article').readingTime();

$('article').each(function() {

  $(this).readingTime({
    readingTimeTarget: $(this).find('.eta'),
    wordCountTarget: $(this).find('.words'),
    remotePath: $(this).attr('data-file'),
    remoteTarget: $(this).attr('data-target')
  });
  
});

</script>



<script type="text/javascript">
   function toggle_visibility(comments) {
       var e = document.getElementById(comments);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
   }
</script>



<script type="text/javascript">
$(function() {
  $('#newsletterForm').submit(function(event) {
    event.preventDefault();

    var subscribeForm = $(this);
    var subscribeButton = $('input[type=submit]', subscribeForm);

    if ($("input[name='fields[first_name]']").val() === '') {
      var alert = document.getElementById('error');

      alert.innerHTML = alert.innerHTML + '<p>You need to add your First name</p>';
      return
    }

    if ($("input[name='fields[email]']").val() === '') {
      var alert = document.getElementById('error');

      alert.innerHTML = alert.innerHTML + '<p>You need to add your email</p>';
      return
    }

    $.ajax({
      url: subscribeForm.prop('action'),
      type: 'POST',
      crossDomain: true,
      headers : {
        'accept' : 'application/javascript',
      },
      data: $('#newsletterForm').serialize(),
      beforeSend: function() {
        subscribeButton.prop('disabled', 'disabled');
      }
    })
    .done(function(response) {
      $('#newsletterForm').remove();

      var success = document.getElementById('form-result');

      success.innerHTML = success.innerHTML + '<div class="circle"><h1>Thank you</h1></div><h3>You are amazing!</h3><p>We have now sent you an email for you to confirm your email address ;-)</p>';

      subscribeButton.prop('disabled', false);
    })
    .fail(function(response) {

      var fail = document.getElementById('form-result');

      fail.innerHTML = fail.innerHTML + '<h1>Something Went Wrong :-(</h1><h3>Try again!</h3>';

      subscribeButton.prop('disabled', false);
      subscribeButton.prop('disabled', false);
    })

  });
});
</script>

<!-- Start of Async Fullstory Code -->
<script>
window['_fs_debug'] = false;
window['_fs_host'] = 'www.fullstory.com';
window['_fs_org'] = '3GSJS';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
    g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
    o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
    d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
    ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
})(window,document,window['_fs_namespace'],'script','user');


FS.identify('{{ customer.id }}', {
  displayName: '{{ customer.first_name }} {{ customer.last_name }}',
  displayGroup: '{{ customer.customerGroups }}',
  email: '{{ customer.email }}'
});
</script>
<!-- End of Async Fullstory Code -->



<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
  analytics.load("hHHDTvid4iFl7Mr0sYNkwpJRP9c7ruCm");
  analytics.page();
  }}();
</script>



<script id="_webengage_script_tag" type="text/javascript">
var webengage; !function(w,e,b,n,g){function o(e,t){e[t[t.length-1]]=function(){r.__queue.push([t.join("."),arguments])}}var i,s,r=w[b],z=" ",l="init options track screen onReady".split(z),a="feedback survey notification".split(z),c="options render clear abort".split(z),p="Open Close Submit Complete View Click".split(z),u="identify login logout setAttribute".split(z);if(!r||!r.__v){for(w[b]=r={__queue:[],__v:"6.0",user:{}},i=0;i<l.length;i++)o(r,[l[i]]);for(i=0;i<a.length;i++){for(r[a[i]]={},s=0;s<c.length;s++)o(r[a[i]],[a[i],c[s]]);for(s=0;s<p.length;s++)o(r[a[i]],[a[i],"on"+p[s]])}for(i=0;i<u.length;i++)o(r.user,["user",u[i]]);setTimeout(function(){var f=e.createElement("script"),d=e.getElementById("_webengage_script_tag");f.type="text/javascript",f.async=!0,f.src=("https:"==e.location.protocol?"https://ssl.widgets.webengage.com":"http://cdn.widgets.webengage.com")+"/js/webengage-min-v-6.0.js",d.parentNode.insertBefore(f,d)})}}(window,document,"webengage");     

webengage.init("11b565317");
</script>

 
<script type="text/javascript">
  !function(name,path,ctx){
    var latest,prev=name!=='Keen'&&window.Keen?window.Keen:false;ctx[name]=ctx[name]||{ready:function(fn){var h=document.getElementsByTagName('head')[0],s=document.createElement('script'),w=window,loaded;s.onload=s.onerror=s.onreadystatechange=function(){if((s.readyState&&!(/^c|loade/.test(s.readyState)))||loaded){return}s.onload=s.onreadystatechange=null;loaded=1;latest=w.Keen;if(prev){w.Keen=prev}else{try{delete w.Keen}catch(e){w.Keen=void 0}}ctx[name]=latest;ctx[name].ready(fn)};s.async=1;s.src=path;h.parentNode.insertBefore(s,h)}}
  }('KeenAsync','https://d26b395fwzu5fz.cloudfront.net/keen-tracking-1.1.3.min.js',this);

  KeenAsync.ready(function(){
    // Configure a client instance
    var client = new KeenAsync({
      projectId: '593d092954532c12cb5401df',
      writeKey: 'BC80012E6DCC7EC0DFBE3A770AB4C348AAC4BC3D63F1A314C0524DDA80BD78E3BC4BA99454E67634F5962A902C5927F930DCB8602EC462190A8F54C30563A91DAA727AC5F1200E03804A442F94C8DFA08E78834355C8A487776ED60AC1D79B9B'
    });

    // Record an event
    client.recordEvent('pageviews', {
      title: document.title
    });
  });
</script>


<script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
<script>
window._dcq = window._dcq || [];
window._wq = window._wq || [];
_wq.push({"_all": function(video){
  video.bind("conversion", function(type, email, firstName, lastName) {
    _dcq.push(["identify", {
      email: email,
      first_name: firstName,
      last_name: lastName
    }]);
    _dcq.push(["track", "Submitted Wistia Turnstile", { video: video.name() }]);
  });
}});
</script>

<script id="dsq-count-scr" src="//cheesemix.disqus.com/count.js" async></script>