@import "../../neat/neat";
@import "../../bourbon/bourbon";

@import '../partials/media';



// Square Grid Columns and Containers

$grid--twos: (
  columns: 12,
  gutter: 0px,
  direction: ltr,
);

.grid--twos{
  @include grid-container($grid--twos);
}


.postFeedContainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1270px;
    &.hero {
        max-width: 1440px;
    }
    @include grid-media($medium-grid) {
        @include grid-collapse;
        padding: 0 3em;
    }
    @include grid-media($small-grid){
    @include grid-collapse;
        padding: 0 2em;
    }
}



.grid-hero-single-column {
    @include grid-column(12, $grid--twos);
    height: auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    &.feed {
        padding: 0px 45px 10px;
        border-radius: 10px 10px 0 0;
    }
    @include grid-media($medium-large-grid) {
    }
    @include grid-media($medium-grid) {
        @include grid-collapse;
    }
    @include grid-media($small-grid){
    @include grid-collapse;
        padding: 50px 20px 0px;
    }
}


.grid-one-single-column {
    @include grid-column(8, $grid--twos);
    height: auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    padding: 90px 45px 10px;
    border-radius: 10px 10px 0 0;
    &.newsletter {
        @include grid-column(4, $grid--twos);    
    }
    @include grid-media($medium-large-grid) {
        &.newsletter {
             @include grid-column(4, $grid--twos);    
        }
    }
    @include grid-media($medium-grid) {
        @include grid-collapse;
        &.newsletter {
            @include grid-collapse;  
        }
    }
    @include grid-media($small-grid){
    @include grid-collapse;
        padding: 50px 20px 0px;
    }
}


.grid-two-single-column {
    @include grid-column(4, $grid--twos);
    height: auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    &.feed {
        padding: 90px 45px 10px;
        border-radius: 10px 10px 0 0;
    }
    @include grid-media($medium-large-grid) {
        @include grid-column(6, $grid--twos);
    }
    @include grid-media($medium-grid) {
        @include grid-collapse;
    }
    @include grid-media($small-grid){
    @include grid-collapse;
        &.feed {
            padding: 50px 20px 0px;
        }
    }
}

.featureInner {
    background: #fff;
    border-bottom: 2px solid #f2f2f2;
    .featureImage {
        max-width: 1440px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 1;
            &.hero {
                max-width: 1800px;    
            }
            img {
                width: 100%
        }
    }
    .feature-container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        &:before, &:hover:after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        }
        &:before {
            border-bottom: 1px solid #dde5ed;
            bottom: 0;
            z-index: 3;
        }
        &:after, &:before {
            content: " ";
            position: relative;
            bottom: -8px;
            left: 0;
            width: 100%;
            display: block;
            border-bottom: 8px solid #fec430;
            z-index: 2;
            transition: -webkit-transform .3s;
            transition: transform .3s;
            transition: transform .3s,-webkit-transform .3s;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }
        .featureContent {
            background: #fff;
            position: relative;
            z-index: 2;
            margin-top: -10%;
            padding: 10px 20px 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            .titleContainer {
                .authorImageMicro {
                    @include grid-column(2, $grid--twos);
                    margin: 20px 0px 0px 0px;
                    width: 50px;
                    img {
                        width: 50px;
                        border-radius: 50%;
                    }
                }
                .authorNameMicro {
                    @include grid-column(10, $grid--twos);
                    margin: 20px 0px 0px 0px;
                    text-align: left;
                    padding-top: 12px;
                    padding-left: 12px;
                    width: 200px;
                    p {
                        font-size: 1rem;
                        color: #5960aa;
                        font-weight: bold;
                    }
                }
                &.hero {
                    h1 {
                        font-family: 'Spectral', Helvetica, Arial, sans-serif;
                        font-size: 3rem;
                        line-height: 1.3;
                    }                
                }
                h1 {
                    font-family: 'Spectral', Helvetica, Arial, sans-serif;
                    font-size: 1.4rem;
                    line-height: 1.3;
                    margin: 0px 0 4px;
                    color: #000;
                }
                p {
                    margin: 0px;
                    color: #000;
                    color: #464646;
                    font-size: 1.3em;
                }
                @include grid-media($medium-large-grid){
                     &.hero {
                        h1 {
                            font-size: 2rem;
                        } 
                    }   
                    h1 {
                        font-size: 2rem;
                    }
                 }
                @include grid-media($small-grid){
                
                }
            }
        }
    }
}
