.mix-heads {
	 h1 {
    	font-size: 2.5rem;
    	color: #282538;
    	font-weight: bold;
	}
}


.mix-insta {
    position: relative;
    margin: 0 auto;
 	padding: 1vh 0;
    height: 650px;    
    height: 260px;
    text-align: center;
}
